/* src/app/shared/header/header.component.scss */

.navbar {
  background-color: #1a1a2e;  /* Dark background */
  padding: 1rem 0;  /* Ensure the navbar has enough padding */

  .nav-link {
    color: #e94560 !important;  /* Primary color for links */
    &:hover {
      color: #0f3460 !important;  /* Secondary color on hover */
    }
  }

  .navbar-brand {
    color: #e94560 !important;
    font-size: 1.5rem;  /* Make the logo text a bit larger */
    display: flex;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
      margin-right: 10px; /* Spacing between logo and text */
    }
  }

  .navbar-toggler {
    border-color: #e94560;
    &:focus {
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233,69,96, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E");
  }
}
