<div class="container my-5">
  <h1 class="mb-4">Blackout</h1>

  <div class="project-overview">
    <!-- <div class="logo-container">
      <img
        src="assets/images/blackout.svg"
        alt="Blackout Logo"
        class="img-fluid mb-4"
      />
    </div> -->
    <p>
      Blackout is a startup poised to disrupt the lighting industry with its
      groundbreaking capabilities, seamlessly allowing users to communicate
      wirelessly with any light fixtures, all on an iOS app.
    </p>
  </div>

  <div class="project-objective">
    <h3>Objective</h3>
    <p>
      Modernize the application stack and introduce new features, enhancing
      responsiveness. Evaluate vendor work, making essential improvements or
      rewrites to meet Blackout's specific needs and standards.
    </p>
  </div>

  <div class="project-timeline">
    <h3>Timeline and Milestones</h3>

    <p><strong>August 2023: Initial Assessment Phase</strong></p>
    <ul>
      <li>
        Initiated a comprehensive assessment focusing on lighting fixtures,
        protocols, and specific needs.
      </li>
      <li>
        Gathered necessary insights to tailor the approach to the client's
        unique infrastructure challenges.
      </li>
    </ul>

    <p><strong>September 2023 - October 2023: Backend System Overhaul</strong></p>
    <ul>
      <li>Identified critical issues with the existing backend system.</li>
      <li>
        Implemented a complete overhaul of the backend system, including a new
        database schema.
      </li>
      <li>
        Selected Supabase Cloud as the preferred hosted RDBMS for its robustness
        and security.
      </li>
      <li>
        Rearchitected database tables and rewrote backend system and admin UI.
      </li>
      <li>
        Integrated Stripe payment gateway to enable a subscription-based payment
        model.
      </li>
    </ul>

    <p><strong>November 2023: Deployment and Data Migration</strong></p>
    <ul>
      <li>Finalized and deployed the improved backend system.</li>
      <li>
        Assisted in migrating data to a custom format better suited for the
        client's requirements.
      </li>
    </ul>
  </div>

  <div class="project-outcomes">
    <h3>Outcomes and Achievements</h3>
    <ul>
      <li>
        Significant security improvements, safeguarding sensitive data and
        ensuring compliance.
      </li>
      <li>
        Over 90% increase in backend development efficiency using Supabase
        Cloud.
      </li>
      <li>
        Incorporation of reactive programming for a more comprehensible and
        extensible system.
      </li>
      <li>
        Ensured scalability and compliance with industry standards.
      </li>
      <li>
        Leveraged latest technology trends to provide a state-of-the-art
        solution.
      </li>
      <li>
        Successfully created a Minimum Viable Product (MVP) meeting client's
        needs.
      </li>
      <li>
        Collaborated closely with the client during debugging and problem-solving
        phases.
      </li>
    </ul>
  </div>
</div>
