<!-- src/app/pages/projects/vmware/vmware.component.html -->

<div class="container my-5">
  <h1 class="mb-4">VMware Tanzu Labs</h1>
  <div class="project-overview">
    <img src="assets/images/vmware.svg" alt="VMware Logo" class="img-fluid mb-4" />
    <p>
      Tanzu Labs (formerly Pivotal Labs) partners with organizations worldwide to accelerate the delivery of software and modernize legacy apps, while reducing operating costs and risk.
    </p>
  </div>

  <div class="project-objective">
    <h3>Objective</h3>
    <p>
      Intellibyte Software Solutions' collaboration with VMware Tanzu Labs focused on providing specialized consulting services for subcontracting opportunities with government entities. This involved leveraging VMware's advanced technology solutions to address specific needs in government projects, ensuring agile, secure, and innovative IT environments.
    </p>
  </div>

  <div class="project-timeline">
    <h3>Timeline and Milestones</h3>
    <p><strong>July 2022 - May 2023:</strong></p>
    <ul>
      <li>Consulted for government projects, integrating VMware's cloud solutions.</li>
      <li>Presented the CUPID framework and Microsoft's Semantic Kernel AI platform to USSF.</li>
    </ul>
  </div>

  <div class="project-outcomes">
    <h3>Outcomes and Achievements</h3>
    <ul>
      <li>Strategic consulting for government projects.</li>
      <li>Presented the CUPID framework to USSF.</li>
      <li>Demonstrated the integration of Microsoft’s Semantic Kernel AI platform.</li>
    </ul>
  </div>
</div>
