<div class="container my-5">
  <h2 class="mb-4">Our Projects</h2>
  <p class="lead">
    Explore some of the successful projects we've delivered, demonstrating our expertise and collaborative approach.
  </p>

  <div class="row mt-5">
    <!-- Project Item -->
    <div class="col-md-6 col-lg-4 mb-5 d-flex align-items-stretch" *ngFor="let project of projects">
      <div
        class="card h-100 shadow-sm"
        [ngClass]="{ 'dark-background': project.isDarkBackground }"
      >
        <div class="card-img-container">
          <img [src]="project.image" class="card-img-top" [alt]="project.title" />
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text flex-grow-1">{{ project.description }}</p>
          <a [routerLink]="project.link" class="btn btn-outline-primary mt-auto">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
