$primary-color: #1a1a2e; // Dark Blue
$secondary-color: #e94560; // Pinkish-Red
$hover-color: #ffffff; // White
$background-color: #ECF0F1; // Light Gray
$text-color: #2C3E50; // Dark Blue
$navbar-height: 100px; // Approximate height of the navbar

// Bootstrap overrides
$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": $hover-color,
);

.navbar {
  background-color: $primary-color;
}

.nav-link {
  color: $background-color !important;
}

/* Ensure enough space between the navbar and the content */
body {
  background-color: $background-color;
  color: $text-color;
  padding-top: $navbar-height;  /* Adds space below the navbar */
}

main {
  padding-top: 5rem; /* Optional, for extra spacing */
}

/* Footer styles */
.footer {
  background-color: $primary-color;
  color: $background-color;
  padding: 2rem;
  text-align: center;
  width: 100%;
  position: relative; /* Ensure it's a regular footer */
}
