$primary-color: #0f3460;
$background-color: #f0f0f0;

.footer {
  background-color: $primary-color;
  color: $background-color;
  padding: 2rem;
  text-align: center;
  position: relative; /* Change from 'fixed' to 'relative' */
  width: 100%; /* Ensure full-width footer */
}
